[Unit]
Description=api-spring-vestibular
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/ubuntu/api/api-0.0.1-SNAPSHOT.jar
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.service